# Introdução

In [1]:
import pandas as pd
import numpy as np

In [33]:
file = '.\data\diabetes\diabetes_binary_5050split_health_indicators_BRFSS2021.csv'
df = pd.read_csv(file)
df

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\elisb\AppData\Local\Temp\ipykernel_7968\3211193681.py:1: SyntaxWarning: invalid escape sequence '\d'
  file = '.\data\diabetes\diabetes_binary_5050split_health_indicators_BRFSS2021.csv'

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1,0.0,1,33.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,15.0,0.0,1.0,1,7,6.0,9.0
1,0.0,0,1.0,1,27.0,1.0,0.0,0.0,1,0,...,1,0.0,2.0,1.0,2.0,0.0,1,7,6.0,6.0
2,0.0,0,1.0,1,26.0,1.0,0.0,0.0,0,0,...,1,0.0,3.0,0.0,30.0,0.0,1,13,4.0,3.0
3,0.0,0,0.0,1,19.0,1.0,0.0,0.0,1,1,...,1,0.0,3.0,0.0,0.0,0.0,0,11,5.0,7.0
4,0.0,1,0.0,1,37.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,0.0,0.0,0.0,0,5,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67131,1.0,1,0.0,1,27.0,0.0,0.0,0.0,1,1,...,1,0.0,3.0,0.0,0.0,0.0,1,11,5.0,6.0
67132,1.0,1,1.0,1,26.0,0.0,0.0,0.0,0,1,...,1,0.0,4.0,0.0,0.0,0.0,0,11,4.0,2.0
67133,1.0,1,1.0,1,32.0,0.0,0.0,1.0,1,0,...,1,1.0,2.0,10.0,0.0,0.0,1,8,6.0,6.0
67134,1.0,1,1.0,1,33.0,0.0,0.0,0.0,0,0,...,1,0.0,2.0,0.0,0.0,1.0,1,10,4.0,5.0
67135,1.0,1,1.0,1,21.0,0.0,0.0,0.0,1,1,...,1,0.0,4.0,0.0,0.0,0.0,1,10,2.0,3.0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67136 entries, 0 to 67135
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       67136 non-null  float64
 1   HighBP                67136 non-null  int64
 2   HighChol              67136 non-null  float64
 3   CholCheck             67136 non-null  int64
 4   BMI                   67136 non-null  float64
 5   Smoker                67136 non-null  float64
 6   Stroke                67136 non-null  float64
 7   HeartDiseaseorAttack  67136 non-null  float64
 8   PhysActivity          67136 non-null  int64
 9   Fruits                67136 non-null  int64
 10  Veggies               67136 non-null  int64
 11  HvyAlcoholConsump     67136 non-null  int64
 12  AnyHealthcare         67136 non-null  int64
 13  NoDocbcCost           67136 non-null  float64
 14  GenHlth               67136 non-null  float64
 15  MentHlth              67136 non-null  float64
 16  PhysHlth              67136 non-null  float64
 17  DiffWalk              67136 non-null  float64
 18  Sex                   67136 non-null  int64
 19  Age                   67136 non-null  int64
 20  Education             67136 non-null  float64
 21  Income                67136 non-null  float64
dtypes: float64(13), int64(9)
memory usage: 11.3 MB

In [36]:
df.columns

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [37]:
def contar_valores_unicos_e_tipo_por_coluna(df):
    for coluna in df.columns:
        quantidade_valores_unicos = df[coluna].nunique()
        tipo_coluna = df[coluna].dtype
        print(f"Coluna '{coluna}': {quantidade_valores_unicos}, Tipo: {tipo_coluna}")

In [38]:
contar_valores_unicos_e_tipo_por_coluna(df)

Coluna 'Diabetes_binary': 2, Tipo: float64
Coluna 'HighBP': 2, Tipo: int64
Coluna 'HighChol': 2, Tipo: float64
Coluna 'CholCheck': 2, Tipo: int64
Coluna 'BMI': 79, Tipo: float64
Coluna 'Smoker': 2, Tipo: float64
Coluna 'Stroke': 2, Tipo: float64
Coluna 'HeartDiseaseorAttack': 2, Tipo: float64
Coluna 'PhysActivity': 2, Tipo: int64
Coluna 'Fruits': 2, Tipo: int64
Coluna 'Veggies': 2, Tipo: int64
Coluna 'HvyAlcoholConsump': 2, Tipo: int64
Coluna 'AnyHealthcare': 2, Tipo: int64
Coluna 'NoDocbcCost': 2, Tipo: float64
Coluna 'GenHlth': 5, Tipo: float64
Coluna 'MentHlth': 31, Tipo: float64
Coluna 'PhysHlth': 31, Tipo: float64
Coluna 'DiffWalk': 2, Tipo: float64
Coluna 'Sex': 2, Tipo: int64
Coluna 'Age': 13, Tipo: int64
Coluna 'Education': 6, Tipo: float64
Coluna 'Income': 11, Tipo: float64

In [39]:
def converter_float64_para_int64(df):
    for coluna in df.columns:
        if df[coluna].dtype == 'float64' and df[coluna].nunique() == 2:
            df[coluna] = df[coluna].astype('int64')

In [40]:
converter_float64_para_int64(df)

In [41]:
contar_valores_unicos_e_tipo_por_coluna(df)

Coluna 'Diabetes_binary': 2, Tipo: int64
Coluna 'HighBP': 2, Tipo: int64
Coluna 'HighChol': 2, Tipo: int64
Coluna 'CholCheck': 2, Tipo: int64
Coluna 'BMI': 79, Tipo: float64
Coluna 'Smoker': 2, Tipo: int64
Coluna 'Stroke': 2, Tipo: int64
Coluna 'HeartDiseaseorAttack': 2, Tipo: int64
Coluna 'PhysActivity': 2, Tipo: int64
Coluna 'Fruits': 2, Tipo: int64
Coluna 'Veggies': 2, Tipo: int64
Coluna 'HvyAlcoholConsump': 2, Tipo: int64
Coluna 'AnyHealthcare': 2, Tipo: int64
Coluna 'NoDocbcCost': 2, Tipo: int64
Coluna 'GenHlth': 5, Tipo: float64
Coluna 'MentHlth': 31, Tipo: float64
Coluna 'PhysHlth': 31, Tipo: float64
Coluna 'DiffWalk': 2, Tipo: int64
Coluna 'Sex': 2, Tipo: int64
Coluna 'Age': 13, Tipo: int64
Coluna 'Education': 6, Tipo: float64
Coluna 'Income': 11, Tipo: float64

In [42]:
df.dtypes

Diabetes_binary           int64
HighBP                    int64
HighChol                  int64
CholCheck                 int64
BMI                     float64
Smoker                    int64
Stroke                    int64
HeartDiseaseorAttack      int64
PhysActivity              int64
Fruits                    int64
Veggies                   int64
HvyAlcoholConsump         int64
AnyHealthcare             int64
NoDocbcCost               int64
GenHlth                 float64
MentHlth                float64
PhysHlth                float64
DiffWalk                  int64
Sex                       int64
Age                       int64
Education               float64
Income                  float64
dtype: object

In [45]:
df.sample(10)

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
37404,1,1,1,1,34.0,1,0,1,0,1,...,1,0,5.0,3.0,30.0,1,1,10,6.0,11.0
1575,0,1,1,1,30.0,1,0,0,1,0,...,1,0,2.0,10.0,0.0,0,0,13,5.0,2.0
39308,1,0,0,1,31.0,1,0,0,1,0,...,1,0,4.0,0.0,14.0,1,0,4,4.0,5.0
47955,1,1,0,1,26.0,0,0,0,0,1,...,1,0,3.0,0.0,3.0,1,0,13,6.0,5.0
44990,1,1,1,1,39.0,0,0,1,1,0,...,0,1,5.0,30.0,30.0,1,1,9,5.0,2.0
61497,1,1,0,1,29.0,1,0,0,1,0,...,1,0,4.0,0.0,0.0,0,1,10,6.0,7.0
41930,1,0,1,1,44.0,0,0,0,1,0,...,1,0,3.0,0.0,1.0,0,0,3,6.0,9.0
65599,1,1,1,1,34.0,0,0,0,0,0,...,1,0,3.0,0.0,0.0,0,0,8,6.0,7.0
8515,0,1,0,1,31.0,0,0,0,1,1,...,1,0,3.0,8.0,2.0,0,1,7,6.0,7.0
12972,0,0,0,1,24.0,0,0,0,1,1,...,1,0,2.0,0.0,0.0,0,1,2,6.0,9.0

In [46]:
df.shape

(67136, 22)

In [47]:
df.describe()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,...,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000,67136.000000
mean,0.500000,0.548320,0.500238,0.976227,30.288340,0.440151,0.058866,0.136633,0.717260,0.605919,...,0.967260,0.066522,2.774756,4.230845,5.136752,0.231202,0.493431,8.501743,5.035912,6.563885
std,0.500004,0.497663,0.500004,0.152341,7.095737,0.496409,0.235375,0.343462,0.450334,0.488656,...,0.177955,0.249194,1.073759,8.323138,9.593837,0.421605,0.499961,3.019624,0.981610,2.422641
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,7.000000,4.000000,5.000000
50%,0.500000,1.000000,1.000000,1.000000,29.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,9.000000,5.000000,7.000000
75%,1.000000,1.000000,1.000000,1.000000,34.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,4.000000,5.000000,0.000000,1.000000,11.000000,6.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,11.000000

In [49]:
target = 'Diabetes_binary'

In [54]:
df_diabete = df[df[target] == 0]
df_notDiabete = df[df[target] == 1]

In [55]:
df_diabete.shape

(33568, 22)

In [56]:
df_notDiabete.shape

(33568, 22)

# Metodologia

# Resultados

# Conclusão