# Introdução

In [5]:
import pandas as pd
import numpy as np

In [20]:
file = 'gladiator_data.csv'
df = pd.read_csv(file)
df

,Name,Age,Birth Year,Origin,Height,Weight,Category,Wins,Losses,Special Skills,...,Battle Experience,Psychological Profile,Health Status,Personal Motivation,Previous Occupation,Training Intensity,Battle Strategy,Social Standing,Crowd Appeal Techniques,Survived
0,Cosconius Hostius,42,8,Gaul,176,54,Hoplomachus,10,2,Novice,...,12,Stoic,Good,Glory,Laborer,Medium,Balanced,Low,Flamboyant,True
1,Caecilius Valerius,30,20,Greece,173,67,Provocator,6,0,Agility,...,6,Aggressive,Excellent,Freedom,Laborer,Medium,Aggressive,High,Intimidating,False
2,Sempronius Aulus,30,20,Gaul,171,81,Hoplomachus,8,4,Endurance,...,12,Calculative,Excellent,Wealth,Unemployed,Medium,Balanced,Medium,Charismatic,True
3,Lacerius Laberius,32,18,Rome,172,72,Retiarius,8,3,Novice,...,11,Stoic,Excellent,Freedom,Unemployed,Medium,Aggressive,High,Humble,True
4,Blaesus Modius,29,21,Gaul,177,87,Secutor,12,5,Tactics,...,17,Stoic,Good,Survival,Entertainer,Medium,Balanced,Medium,Humble,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737565,Orestius Maecenas,45,354,Germania,167,92,Provocator,11,1,Novice,...,12,Stoic,Good,Freedom,Criminal,Medium,Balanced,Medium,Humble,False
737566,Sempronius Fannius,40,359,Rome,176,76,Retiarius,9,2,Novice,...,11,Aggressive,Excellent,Glory,Criminal,Medium,Balanced,Medium,Intimidating,False
737567,Laberius Gracchus,28,371,Germania,176,108,Secutor,5,2,Novice,...,7,Calculative,Excellent,Freedom,Laborer,Medium,Balanced,Medium,Charismatic,False
737568,Matinius Percennius,32,367,Rome,186,79,Thraex,7,0,Strength,...,7,Stoic,Excellent,Glory,Unemployed,Medium,Balanced,High,Flamboyant,True
737569,Coruncanius Numicius,20,379,Gaul,179,100,Secutor,4,0,Novice,...,4,Calculative,Excellent,Freedom,Soldier,Medium,Aggressive,Medium,Charismatic,False

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737570 entries, 0 to 737569
Data columns (total 29 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Name                     737570 non-null  object
 1   Age                      737570 non-null  int64
 2   Birth Year               737570 non-null  int64
 3   Origin                   737570 non-null  object
 4   Height                   737570 non-null  int64
 5   Weight                   737570 non-null  int64
 6   Category                 737570 non-null  object
 7   Wins                     737570 non-null  int64
 8   Losses                   737570 non-null  int64
 9   Special Skills           737570 non-null  object
 10  Weapon of Choice         737570 non-null  object
 11  Patron Wealth            737570 non-null  object
 12  Equipment Quality        737570 non-null  object
 13  Public Favor             737570 non-null  float64
 14  Injury History           737570 non-null  object
 15  Mental Resilience        737570 non-null  float64
 16  Diet and Nutrition       737570 non-null  object
 17  Tactical Knowledge       737570 non-null  object
 18  Allegiance Network       737570 non-null  object
 19  Battle Experience        737570 non-null  int64
 20  Psychological Profile    737570 non-null  object
 21  Health Status            737570 non-null  object
 22  Personal Motivation      737570 non-null  object
 23  Previous Occupation      737570 non-null  object
 24  Training Intensity       737570 non-null  object
 25  Battle Strategy          737570 non-null  object
 26  Social Standing          737570 non-null  object
 27  Crowd Appeal Techniques  737570 non-null  object
 28  Survived                 737570 non-null  bool
dtypes: bool(1), float64(2), int64(7), object(19)
memory usage: 158.3+ MB

In [22]:
df.columns

Index(['Name', 'Age', 'Birth Year', 'Origin', 'Height', 'Weight', 'Category',
       'Wins', 'Losses', 'Special Skills', 'Weapon of Choice', 'Patron Wealth',
       'Equipment Quality', 'Public Favor', 'Injury History',
       'Mental Resilience', 'Diet and Nutrition', 'Tactical Knowledge',
       'Allegiance Network', 'Battle Experience', 'Psychological Profile',
       'Health Status', 'Personal Motivation', 'Previous Occupation',
       'Training Intensity', 'Battle Strategy', 'Social Standing',
       'Crowd Appeal Techniques', 'Survived'],
      dtype='object')

In [8]:
df.dtypes

Name                        object
Age                          int64
Birth Year                   int64
Origin                      object
Height                       int64
Weight                       int64
Category                    object
Wins                         int64
Losses                       int64
Special Skills              object
Weapon of Choice            object
Patron Wealth               object
Equipment Quality           object
Public Favor               float64
Injury History              object
Mental Resilience          float64
Diet and Nutrition          object
Tactical Knowledge          object
Allegiance Network          object
Battle Experience            int64
Psychological Profile       object
Health Status               object
Personal Motivation         object
Previous Occupation         object
Training Intensity          object
Battle Strategy             object
Social Standing             object
Crowd Appeal Techniques     object
Survived                      bool
dtype: object

In [9]:
df.head()

,Name,Age,Birth Year,Origin,Height,Weight,Category,Wins,Losses,Special Skills,...,Battle Experience,Psychological Profile,Health Status,Personal Motivation,Previous Occupation,Training Intensity,Battle Strategy,Social Standing,Crowd Appeal Techniques,Survived
0,Cosconius Hostius,42,8,Gaul,176,54,Hoplomachus,10,2,Novice,...,12,Stoic,Good,Glory,Laborer,Medium,Balanced,Low,Flamboyant,True
1,Caecilius Valerius,30,20,Greece,173,67,Provocator,6,0,Agility,...,6,Aggressive,Excellent,Freedom,Laborer,Medium,Aggressive,High,Intimidating,False
2,Sempronius Aulus,30,20,Gaul,171,81,Hoplomachus,8,4,Endurance,...,12,Calculative,Excellent,Wealth,Unemployed,Medium,Balanced,Medium,Charismatic,True
3,Lacerius Laberius,32,18,Rome,172,72,Retiarius,8,3,Novice,...,11,Stoic,Excellent,Freedom,Unemployed,Medium,Aggressive,High,Humble,True
4,Blaesus Modius,29,21,Gaul,177,87,Secutor,12,5,Tactics,...,17,Stoic,Good,Survival,Entertainer,Medium,Balanced,Medium,Humble,True

In [10]:
df.shape

(737570, 29)

In [11]:
df.describe()

,Age,Birth Year,Height,Weight,Wins,Losses,Public Favor,Mental Resilience,Battle Experience
count,737570.000000,737570.000000,737570.000000,737570.000000,737570.000000,737570.000000,737570.000000,737570.000000,737570.000000
mean,31.508300,217.003697,175.335926,82.005254,7.879296,1.755328,0.697088,4.539400,9.634623
std,8.077172,98.571108,10.179014,16.032841,3.458866,1.704495,0.137605,2.328009,4.648887
min,18.000000,5.000000,127.000000,8.000000,0.000000,0.000000,0.240123,0.787137,0.000000
25%,25.000000,137.000000,168.000000,71.000000,5.000000,1.000000,0.593944,2.724190,6.000000
50%,32.000000,227.000000,175.000000,82.000000,8.000000,1.000000,0.688906,4.463324,9.000000
75%,39.000000,303.000000,182.000000,93.000000,10.000000,3.000000,0.797955,6.177790,12.000000
max,45.000000,381.000000,226.000000,158.000000,29.000000,18.000000,1.160672,12.088811,43.000000

In [12]:
df.describe(include='object')

,Name,Origin,Category,Special Skills,Weapon of Choice,Patron Wealth,Equipment Quality,Injury History,Diet and Nutrition,Tactical Knowledge,Allegiance Network,Psychological Profile,Health Status,Personal Motivation,Previous Occupation,Training Intensity,Battle Strategy,Social Standing,Crowd Appeal Techniques
count,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570,737570
unique,32761,6,6,6,6,3,3,2,3,4,3,4,3,5,5,3,3,3,4
top,Gaius Gaius,Rome,Hoplomachus,Novice,Dagger,Medium,Standard,Low,Adequate,Basic,Strong,Stoic,Excellent,Survival,Laborer,Medium,Balanced,Medium,Intimidating
freq,94,123199,123399,463280,307292,246536,246536,585395,246536,279838,477286,221379,477151,184364,188027,488405,417476,407500,243626

In [24]:
df_survived = df[df['Survived'] == True]
df_Notsurvived = df[df['Survived'] == False]

# Metodologia

# Resultados

# Conclusão